# configs/base_config.yaml
# RUN WITH: python -m src.deep_proj.train 
# or without wandb: python -m src.deep_proj.train wandb.enabled=false
wandb:
  enabled: true          # turn off with wandb.enabled=false
  project: deep_vae_olli # CHANGE THIS BEFORE RUNNING
  entity: spicy-mlops    # <- W&B team slug
  group: ${model_name}   # group runs by bottleneck type
  mode: online           # or "offline" / "disabled"



seed: 42

# data (flat keys)
dataset: mnist            # "mnist" | "medmnist"
data_root: data
batch_size: 100
num_workers: 4
val_split: 0.1
medmnist_subset: pathmnist  # only used if dataset=medmnist

# model (one at a time)
model_name: dirichlet
        # gaussian | dirichlet | cc
latent_dim: 50
recon_loss: bce
alpha_init: 0.98            # dirichlet
cc_components: 10           # cc
cc_temperature: 1.0         # cc

# trainer
epochs: 3
lr: 5e-4
device: auto            # "cuda" | "cpu" | "auto"

# visualization
viz_every: 1      # or 1 if you want plots every epoch

# checkpoint saving and loading
checkpoint_name: "${dataset}_${model_name}_z${latent_dim}_lr${lr}_best.pt"

hydra:
  run:
    dir: outputs/single/${now:%Y-%m-%d_%H-%M-%S}
  job:
    name: train_vae
